.container {
  max-width: 900px;
}

.supermarket-name {
  text-align: center;
}

.discount-type {
  text-align: center;
}

.discounts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.discount {
  width: 200px;
  margin: 5px;
  text-align: center;
}

.discount-prices {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.discount-price-new {
  font-size: 1.5em;
}

.discount-price-old {
  text-decoration: line-through;
}

@media (max-width: 478px) {
  .discount {
    width: 45%;
    margin: 5px;
  }
}
