body {
  background: #fdfdfd;
}

.container {
  max-width: 900px;
}

.footer-text {
  color: #ccc;
  text-align: right;
}

footer a.footer-link {
  color: #fff;
}

.shop-name {
}

.discount-type-title {
  width:100%;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  background: #2c3e50;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.active-title {
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
}

.discounts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.discount {
  width: 200px;
  margin: 5px;
  text-align: center;
}

.discount-img {
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.discount-img:hover { opacity: 0.7; }

.discount-prices {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.discount-price-new {
  font-size: 1.5em;
}

.discount-price-old {
  text-decoration: line-through;
}

@media (max-width: 478px) {
  .discount {
    width: 45%;
    margin: 5px;
  }
}
